html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height:100%;
}

.bg-box{
  width:100%;
  height:100%;

}
.bg-box ul{
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  display:flex;
}
.bg-box ul li{
  list-style:none;
  width:10%;
  height:100%;
  background:transparent;
  box-shadow: 5px 0px 5px rgba(0,0,0,0.2);
  animation: bgcolor infinite linear 5s;
}
@keyframes bgcolor{
  0%{
    background:#40e0d0;
  }
  20%{
    background:#ff8c00;
  }
  40%{
    background:#ff0080;
  }
  60%{
    background:#00f260;
  }
  80%{
    background:#0575e6;
  }
  100%{
    background:#c0392b;
  }
}
.bg-box ul li:nth-child(1){
  animation-delay: .2s;
  z-index: 10;
}
.bg-box ul li:nth-child(2){
  animation-delay: .4s;
  z-index: 9;
}
.bg-box ul li:nth-child(3){
  animation-delay: .6s;
  z-index: 8;
}
.bg-box ul li:nth-child(4){
  animation-delay: .8s;
  z-index: 7;
}
.bg-box ul li:nth-child(5){
  animation-delay: 1.0s;
  z-index: 6;
}
.bg-box ul li:nth-child(6){
  animation-delay: 1.2s;
  z-index: 5;
}
.bg-box ul li:nth-child(7){
  animation-delay: 1.4s;
  z-index: 4;
}
.bg-box ul li:nth-child(8){
  animation-delay: 1.6s;
  z-index: 3;
}
.bg-box ul li:nth-child(9){
  animation-delay: 1.8s;
  z-index: 2;
}
.bg-box ul li:nth-child(10){
  animation-delay: 2s;
  z-index: 1;
}