 

.row {
	margin-top: 12px;
}

.column {
	display: inline-block;
	text-align: center;
}

figure {
	overflow: hidden;
}

.info {
	color: black;
	margin-top:-5px;
	font-family: 'Open Sans', sans-serif;
	
}

a {
	text-decoration: none;	
}

.column img {
	display: block;
	width: 100%;
	height: 300px;
}
/*zoom in*/
.column#zoomIn img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#zoomIn:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}




/*Zoom Out*/
.column#zoomOut img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#zoomOut:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Craeted refering to LittleSnippets.net Pen: https://codepen.io/littlesnippets/pen/adLELd */

.column#zoomOut .poza1 {
	-webkit-transform: scale(1.5);
	transform: scale(1.10);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#zoomOut .poza2 {
	-webkit-transform: scale(1.75);
	transform: scale(1.35);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#zoomOut .poza3 {
	-webkit-transform: scale(1.5);
	transform: scale(1.15);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.column#zoomOut .poza4 {
	-webkit-transform: scale(1);
	transform: scale(1);
		}
.container1{
	 display:inline-block;
}
	