body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header {
  position: relative;
  background-color:#f1f1f1;
  height:50px;
  width: 100%;
  overflow: hidden;
}
nav {
      background:rgba(0,0,0,1);
      position: fixed;
      width: 100%;
      line-height: 60px;
}
.section{
  background: #f1f1f1;
  text-align: center;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #333;
  overflow: hidden;
}
.inner-width h1{
  font-size: 20px;
  
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 10px;
}
.formatimgtxt{
  display:inline-block;
  }
.inviz{
  height:12px;
}

@media(max-width: 786px){
  .inviz{
    height:0px;
  }
}
#stanga{
float:left;
height:100px;
width:auto;
}
#dreapta{
float:right;
height:100px;
}



.poza1{
  height:200px;
  width:auto;
  max-width:100%;
}
.poza2{
  height:165px;
  width:45vh;
  max-width:100%;
}